.user__card {
  transition: 0.1s all;
  padding: 10px;
  padding-top: 34px;
  padding-bottom: 30px;
  height: auto;
  border-radius: 8px;
  background-color: transparent;
  color: var(--font-color);
  display: flex;
  position: relative;
  font-size: 1rem;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.user__card__background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  height: 50%;
  filter: grayscale(80%);
  opacity: 0.5;
}
.user__card__name {
  top: 65%;
}
.user__card__username {
  font-size: 0.6rem;
}
.user__card__email {
  font-size: 0.7rem;
}
.delete__user__button {
  border: none;
  outline: none;
  background-color: transparent;
  width: auto;
  font-size: 1.2rem;
  color: var(--font-color);
  padding: 4px;
  border-radius: 3px;
  transition: 0.1s ease;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.delete__user__button:hover {
  filter: brightness(1.2);
  color: var(--font-color);
  transition: 0.1s ease;
  border-radius: 50%;
}

