.event__card {
  transition: 0.1s all;
  padding: 12px;
  border-radius: 4px;
  background-color: var(--card-background);
  color: var(--font-color);
  display: flex;
  position: relative;
  font-size: 1rem;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px var(--shadow-color);
  min-height: 50px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.event__card__number {
  font-size: 2rem;
  color: var(--font-color);
}
.event__card__type {
  font-size: 1rem;
  color: var(--font-color);
}
.event__card:hover {
  box-shadow: 0 4px 12px var(--shadow-color);
}
.actions__background,
.action__background {
  background-color: var(--main-color);
}
.infos__background,
.info__background {
  background-color: #1394bb7c;
}
.décisions__background,
.décision__background {
  background-color: #64462e83;
}
.problèmes__background,
.problème__background {
  background-color: #e7833183;
}
.risques__background,
.risque__background {
  background-color: #bb13136e;
}
.livrables__background,
.livrable__background {
  background-color: rgba(255, 255, 255, 0.582);
}