.table__events {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 4px;
}
.table__events td,
.table__events th {
  padding: 8px;
}
.table__events td {
  cursor: pointer;
}
.table__events tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table__events tr:nth-child(odd) {
  background-color: #e7e7e7;
}
.table__events tr:hover {
  background-color: #ddd;
}

.table__events th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8d68af;
  color: white;
}
.table__events th,
.table__events td,
.table__events tr {
  max-height: 30px !important;
}
.table__events thead {
  /* position: fixed;
  top: 100px; */
}
