.stickynavbar__container {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  flex-grow: 1;
  height: 50px;
  background-color: var(--color-background-2);
  display: flex;
  box-shadow: 0 1px 2px var(--shadow-color);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: var(--font-color);
  border-radius: 25px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.period__span {
  color: var(--main-color);
  cursor: default;
}
.logo__kifekoi {
  height: 36px;
  margin-left: 12px;
  width: auto;
  cursor: pointer;
}

.events__container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  width: auto;
}
.nav__actions {
  display: flex;
  align-items: center;
  gap: 6px;
}
.list__style__btn,
.list__style__btn__active {
  background-color: transparent;
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--font-color);
  border-radius: 4px;
}
.list__style__btn:hover,
.list__style__btn__active:hover {
  background-color: var(--color-background-1);
}
.list__style__btn__active {
  border: solid 0.1rem var(--main-color);
}
.selected__number__span {
  font-size: 0.8rem;
  color: var(--font-color);
}
@media screen and (max-width: 950px) {
  .name__container__title,
  .period__span {
    font-size: 1rem;
    display: none;
  }
  .nav__actions {
    display: none;
  }
  .list__style__btn,
  .list__style__btn__active {
    display: none;
  }
}
