/* @import "../../materials/constants.scss"; */
.stickynavbar__container {
  z-index: 1;
  /* position: fixed; */
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--color-background-2);
  display: flex;
  box-shadow: 0 1px 2px var(--shadow-color);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.settings__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: var(--font-color);
  border-radius: 25px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.period__span {
  color: var(--main-color);
  cursor: default;
}
.logo__kifekoi {
  height: 55px;
  width: auto;
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .name__container__title,
  .period__span {
    font-size: 1rem;
  }
}
