/* @import "../../materials/constants.scss"; */
.stickynavbar__container {
  z-index: 1;
  position: sticky;
  padding: 0;
  margin: 0;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: var(--color-background-2);
  display: flex;
  box-shadow: 0 2px 4px var(--shadow-color);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
