/* @import "../../materials/constants.scss"; */

.layout__container {
  width: auto;
  height: auto;
}
.final__nav__bar__container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account__button {
  border-radius: 50%;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.account__button > i {
  transform: scale(1.4);
  color: var(--main-color);
}
.logo_img {
  height: 80px;
  width: auto;
}
.admin_span {
  background-color: #f2ffdd;
  color: rgb(102, 102, 102);
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
  margin: 0;
}
.bell {
  transform: scale(0.7);
}
