.grid__container {
  display: grid;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.grid__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // min-width: 30%;
  border-radius: 8px;
  background-color: var(--color-background-1);
  border: solid 1px transparent;
}
