.action__green {
  padding: 5px;
  border-radius: 4px;
  background-color: #c2f86b;
  color: black;
  margin-left: 3px;
}
.action__marron {
  padding: 5px;
  border-radius: 4px;
  background-color: #af4cce;
  color: black;
  margin-left: 3px;
}
.action__blue {
  padding: 5px;
  border-radius: 4px;
  background-color: #1394bb;
  color: black;
  margin-left: 3px;
}
.action__orange {
  padding: 5px;
  border-radius: 4px;
  background-color: #ce8532;
  color: black;
  margin-left: 3px;
}
/* .actions_con {
  grid-template-columns: 80%;
} */
