@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  border: none;
  /* border-top: solid 1px rgba(128, 128, 128, 0.287); */
  outline: solid 1px rgba(128, 128, 128, 0.287);

  color: var(--font-color);
  cursor: pointer;
  padding: 18px;
  background-color: var(--color-background-2s);
  display: flex;
  align-items: center;
  transition: background-color var(--speed) ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform var(--speed) ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  overflow: auto;
  transition: max-height var(--speed) ease;
  background-color: var(--color-background-1);
}

/* Style the accordion content text */
.accordion__text {
  font-size: 14px;
  padding: 18px;
  background-color: var(--color-background-2);
}
