@import "../constants.scss";

.very__main__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.drawer_container {
  flex-grow: 1;
  width: auto;
  margin: 0;
  overflow: auto;
  display: grid;
  align-items: stretch;
  background-color: var(--color-background-);
  grid-template-columns: var(--drawer-width-open) calc(
      100% - var(--drawer-width-open)
    );
}
.closed__container {
  grid-template-columns: var(--drawer-width-closed) calc(
      100% - var(--drawer-width-closed)
    );
}
.drawer_container_secondary {
  position: relative;
  margin: 0;
  width: auto;
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  transform: translateX(0px);
  display: unset !important;
  background-color: var(--color-background-2);
}
.closed__secondary {
  transform: translateX(-var(--drawer-width-open));
}
.drawer_container_main {
  margin: 0;
  background: var(--color-background-1);
  overflow: hidden;
  width: auto;
  height: auto;
}
.toggle_drawer_button {
  position: absolute;
  top: 25px;
  right: -15px;
  background-color: rgb(134, 131, 131);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
