@import "../constants.css";

.popup {
  min-width: 200px;
  min-height: 120px;
  width: auto;
  flex-wrap: nowrap;
  position: absolute;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  transform: translate(60%, -100%);
  background-color: rgb(255, 255, 255);
  z-index: 233232323;
  color : black;
  font-size: 0.8rem;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom {
  transform: translate(10%,-5%);
}
@keyframes hideDiv {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
@keyframes showDiv {
  0% {
    display: none;
  }
  100% {
    display: flex;
  }
}
