.persons__left__indicator {
  border: none;
  background-color: var(--color-background-1);
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--font-color);
}
.first_avatar,
.default_avatar {
  display: flex;
  align-items: center;
}
.kanban__section__content__name__container__avatars__container {
  display: flex;
  align-items: center;
}
