@import "../constants.scss";
.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  z-index: 1 !important;
  margin-top: 20px;
  height: 400px;
  border-radius: 8px;
  /* margin-bottom: 30px; */
  color: #fff;
}

@media screen and (max-width: 700px) {
  .carousel {
    margin: 0;
    border-radius: 0px;
  }
}

.inner {
  z-index: 1 !important;
  white-space: nowrap;
  transition: transform 0.3s;
  border-radius: 8px;
}

.carousel-item {
  z-index: 1 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  max-width: 100%;
  background-color: transparent;
  background: transparent;
  background-repeat: no-repeat;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  padding: 15px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}
.button_next_container {
  height: 100%;
  width: 70px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_prev_container {
  height: 100%;
  width: 70px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_prev_container > button,
.button_next_container > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
}
.button_prev_container:hover > button,
.button_next_container:hover > button {
  transition: 0.2s ease-out;
  opacity: 1;
}
.topradius {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 80%;
  background: var(--main-color);
}
.bottomradius {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  border-top-right-radius: 80%;
  border-top-left-radius: 80%;
  background: var(--main-color);
}
