@import "../constants.scss";

.searchInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 270px !important;
}
.search input {
  border: 0;
  color: #202020;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 6px;
  height: 22px;
  width: 100%;
  margin: auto;
}
input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 25px;
  align-self: center;
  justify-self: center;
}

.dataResult {
  z-index: 1;
  position: absolute;
  /* left: 0; */
  min-width: 270px !important;
  max-height: 320px !important;
  border-radius: 4px;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 3px;
  overflow: hidden;
  overflow-y: auto;
}
.searchIcon {
  width: 50px;
  height: 40px;
  margin-left: -40px;
  background-color: transparent;
  display: grid;
  place-items: center;
}
.gg-search {
  color: var(--main-color);
}
.gg-close-o {
  color: var(--main-color);
  cursor: pointer;
}
.dataResult .dataItem {
  width: 270px;
  display: flex;
  align-items: center;
  color: black;
}

#clearBtn {
  cursor: pointer;
}
