.events__rows__container__head {
  position: sticky;
  top: 0;
  background-color: var(--nav-color);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .events__rows__container__head {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
.events__rows__container {
  max-height: min-content;
  overflow-y: auto;
}
