@import "../../materials/constants.css";

.final__nav__bar__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.account__button {
  border-radius: 50%;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.account__button > i {
  transform: scale(1.4);
  color: var(--main-color);
}
