.card {
  padding: 30px;
  background-color: #21212170;
  border-radius: 10px;
  color: white;
}
.card_add {
  padding: 30px;
  background-color: #21212170;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card__1 {
  background-color: rgba(19, 221, 19, 0.459) !important;
}
.card__2 {
  background-color: rgba(44, 67, 172, 0.459) !important;
}
.card__3 {
  background-color: rgba(221, 174, 19, 0.459) !important;
}
