html {
  height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
:root {
  --font-color: #212b36;
  --color-background-1: #f7f8fc;
  --color-background-2: #f7f8fc;
  --panel-background: #363740;
  --card-background: #fffefe;
  --main-color: #3750ff;
  --main-color2: #e620e6af;
  --shadow-color: #d8e1e8;
  --warning-color: #dfba19df;
  --check-color: #339516df;
  --check-background: #34951652;
  --border-color: rgba(206, 194, 194, 0.397);
  --background1: #f7f8fc;
  --progress-color: white;
  --toggle-background: rgb(238, 238, 238);
}

/* 2 */
[data-theme="dark"] {
  --font-color: rgb(224, 224, 224);
  --color-background-1: #212b36;
  --color-background-2: #363740;
  --card-background: #32435d;
  --main-color: #01ffff80;
  --main-color2: #e620e6af;
  --shadow-color: #191a1b;
  --warning-color: #dfba19df;
  --check-color: #a6c59fdf;
  --border-color: rgba(188, 188, 197, 0.199);
  --background1: #363740;
  --panel-background: #363740;
  --progress-color: #01ffff80;
  --toggle-background: #2c3a3f;
}
html,
.App {
  height: 100vh;
  width: 100vw;
}
html,
.root {
  overflow-x: hidden;
}
.logo__kifekoi {
  height: 40px;
  width: auto;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
  margin: 5px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(165, 164, 164, 0.36);
  border-radius: 20px;
}
.modal__content__container {
  transition: 0.1s all;
  margin: 40px auto 20px auto;
  cursor: default;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
  background: transparent;
  color: var(--font-color);
  border-radius: 4px;
  padding: 10px;
}
.close__modal__button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--font-color);
  padding: 4px;
  border-radius: 3px;
  transition: 0.1s ease;
  display: flex;
  position: fixed;
  top: 4px;
  right: 4px;
  height: 35px;
  width: 35px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close__modal__button:hover {
  background-color: var(--color-background-2);
  color: var(--font-color);
  transition: 0.1s ease;
  border-radius: 50%;
}
.period__span {
  color: var(--main-color);
  cursor: default;
}
.modif__textarea {
  padding: 5px;
  padding-top: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-grow: 1 !important;
  min-height: 70px;
  font-size: 1rem;
  background-color: var(--card-background);
  border: none;
  color: var(--font-color);
  margin-bottom: 10px;
  margin: 0;
  box-shadow: 0 2px 4px var(--shadow-color);
}
.toggle__drawer__button {
  width: 40px;
  margin-left: 10px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s all;
  color: var(--font-color);
}
.toggle__drawer__button:hover {
  background-color: var(--color-background-1);
}
@media screen and (max-width: 600px) {
  .toggle__drawer__button {
    display: flex;
  }
  html,
  .App {
    height: -webkit-fill-available;
    width: 100vw;
  }
}
.modif__textarea__paragraph img,
.ql-editor img {
  max-height: 300px;
  object-fit: cover;
  margin: auto;
}
.modif__textarea__paragraph {
  cursor: pointer;
  flex-grow: 1;
  margin-top: 14px;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 4px;
}
.modif__textarea__paragraph__modal:hover,
.modif__textarea__paragraph:hover {
  border-color: rgba(128, 128, 128, 0.13);
}
.level__two__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
}
