@import "../constants.scss";

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0px;
  width: 100%;
  min-height: none;
  width: fit-content;
  min-width: 300px;
  max-width: none;
}
.menu-item {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.menu-item-no-hover {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-item > *,
.menu-item-no-hover > * {
  font-size: 0.9rem;
  color: var(--font-color);
  margin: 5px;
  margin-left: 12px;
  font-weight: normal;
}
.menu-item a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.menu-item:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
.active {
  background-color: rgba(128, 128, 128, 0.1);
}
