.event__green {
  padding: 5px;
  border-radius: 4px;
  background-color: #6f9e22;
  color: black;
  margin-left: 3px;
}
.event__marron {
  padding: 5px;
  border-radius: 4px;
  background-color: #af4cce;
  color: black;
  margin-left: 3px;
}
.event__blue {
  padding: 5px;
  border-radius: 4px;
  background-color: #1394bb;
  color: black;
  margin-left: 3px;
}
.event__orange {
  padding: 5px;
  border-radius: 4px;
  background-color: #ce8532;
  color: black;
  margin-left: 3px;
}
/* .events_con {
  grid-template-columns: 80%;
} */
