* {
  --speed: 400ms;
  /* font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif; */
  /* margin: 0; */
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.42857;
  letter-spacing: -0.005em;
}
/* 1 */
:root {
  --font-color: #172b4dd7;
  --color-background-1: rgb(236, 236, 236);
  --color-background-2: white;
  --card-background: white;
  --main-color: #b311b3af;
  --shadow-color: #d8e1e8;
}

/* 2 */
[data-theme="dark"] {
  --font-color: #eee;
  --color-background-1: #1c2128;
  --color-background-2: #0f1e25;
  --card-background: #383838;
  --main-color: #01ffff80;
  --shadow-color: #191a1b;
}

/* 3 */
body {
  background-color: var(--color-background-2);
  color: var(--font-color);
}

a {
  color: var(--link-color);
}
.main__content {
  color: black;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-1);
  overflow: auto !important;
}
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
ul li {
  list-style: disc;
  /* margin-left: 12px; */
}
ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 400;
}
.logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.logo_container h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--main-color);
}
.logo_container p {
  font-weight: 400;
  color: var(--main-color);
}
.logo {
  height: 50px;
  width: 50px;
  background-color: var(--main-color);
  border-radius: 20%;
  display: grid;
  place-items: center;
}
.logo_inner {
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.logo_inner_inner {
  height: 30px;
  width: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
}
h4 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
textarea:focus,
input:focus {
  outline: none;
}
textarea {
  resize: none;
}
