.kanban {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  background: transparent;
  background-size: cover;
  height: 100%;
  &__section {
    margin-top: 10px;
    min-width: 200px;
    width: 280px;
    padding: 4px;
    height: auto;
    border-radius: 2px;
    padding-top: 50px;
    padding-bottom: 16px;
    position: relative;
    background-color: var(--col-background);
    height: min-content;
    margin: 10px 5px;

    &__spacer {
      background-color: transparent;
      padding: 4px;
    }
    &__title {
      top: 10px;
      position: absolute;
      font-size: 1.1rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      &__button {
        background-color: transparent;
        border-radius: 4px;
        color: rgba(136, 136, 136, 0.568);
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s ease-in;
        display: flex;
        gap: 10px;
        padding: 8px;
        width: 96%;
        margin: auto;
        align-items: center;
        font-size: 0.9rem;
      }
      &__button:hover {
        transition: 0.2s ease-out;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
      }
    }
  }
}
.kanban__section__content__name__container {
  background-color: transparent;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 3px;
  margin-top: 20px;
}
.kanban__section__content__name__container > textarea {
  height: 100px;
}
.kanban__section__content__name__container__not__attributed {
  padding: 6px;
  background-color: #ffdddf;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}
.kanban__section__content__name__container__img {
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}
.blue__back {
  color: white;
  background-color: red;
}

.violet__back {
  color: red;
  background-color: var(--color-background-1);
}
.kanban__section__title {
  width: auto;
  font-size: 1.2rem;
  margin-left: 10px;
  color: var(--font-color);
}
@media screen and (max-width: 1000px) {
  .kanban__section__title {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  .kanban {
    scroll-snap-type: inline mandatory;
    &__section {
      min-width: 98vw;
      scroll-snap-align: center;
    }
  }
  .kanban__section__overflow {
    max-height: none;
    overflow-y: hidden;
  }
}
.kanban__section__title__more__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 4px;
  height: auto;
  padding: 4px;
  font-size: 1.4rem;
  color: var(--font-color);
  transition: 0.2s ease;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
}
.kanban__section__title__more__button:hover {
  background-color: rgba(100, 100, 100, 0.164);
  border-radius: 50%;
}
.kanban__section:hover > .kanban__section__title__more__button {
  opacity: 1;
  transition: 0.1s ease;
}

.add__card__button__container {
  display: flex;
  gap: 4px;
  width: 100%;
  align-items: center;
}
.add__card__form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  border-radius: 3px;
  background-color: var(--card-background);
}
.clear__button {
  background-color: transparent;
  height: 35px !important;
  width: 35px !important;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--font-color);
}
.clear__button:hover {
  background-color: rgba(128, 128, 128, 0.246);
}
.modif__description__textarea__row {
  width: 97% !important;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  padding-top: 5px;
  max-height: 30px;
  border-radius: 1px;
  margin: 0;
  transition: 0.2s ease;
  color: var(--font-color);
  overflow: hidden;
}
.kanban__section__overflow {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}
@media (hover: hover) {
  .kanban__section__title__more__button {
    opacity: 0;
  }
}
@media (hover: none) {
  .kanban__section__title__more__button {
    opacity: 1;
  }
}
.events__rows {
  max-height: 100%;
  overflow-y: auto;
  background: transparent;
}
.kanban__section__add__col {
  scroll-snap-align: center;
  min-width: 200px;
  width: 280px;
  padding: 6px;
  height: auto;
  border-radius: 2px;
  position: relative;
  background-color: var(--col-background);
  height: min-content;
  margin-left: 5px;
  margin-top: 10px;
}
