.kanban {
  display: flex;
  align-items: flex-start;
  &__section {
    width: 400px;
    min-width: 180px;
    background-color: #ebecf0;
    padding: 10px;
    border-radius: 2px;
    padding-top: 50px;
    position: relative;
    & ~ & {
      margin-left: 10px;
    }

    &__title {
      position: absolute;
      font-size: 1.1rem;
      font-weight: 700;
      // margin: 10px 0 20px;
      transform: translateY(-40px);
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      &__button {
        background-color: transparent;
        border-radius: 12px;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s ease-in;
        display: flex;
        gap: 10px;
        padding: 10px;
        margin-top: -10px;
        margin-bottom: -10px;
        margin-right: 10px;

        align-items: center;
        font-size: 0.9rem;
      }
      &__button:hover {
        transition: 0.2s ease-out;
        filter: brightness(0.5);
      }
    }
  }
}
.modal__content__container {
  width: 95%;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 12px;
}
.kanban__section__content__name__container {
  padding: 6px;
  background-color: #ddebff;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  margin-top: 20px;
}
.kanban__section__content__name__container__not__attributed {
  padding: 6px;
  background-color: #ffdddf;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}
.card__content__added__indicator {
  padding: 3px;
  font-size: 0.7rem;
  background-color: #ddffe6;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
}
.kanban__section__content__name__container__img {
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}
.blue__back {
  color: white;
  background-color: #1394bb6b;
}

.violet__back {
  color: white;
  background-color: #e4beff81;
}
.red__back {
  color: white;
  background-color: #ff6a6a2a;
}
.orange__back {
  color: white;
  background-color: #e7833180;
}
.marron__back {
  color: white;
  background-color: #64462e88;
}
@media screen and (max-width: 1000px) {
  .kanban__section__title {
    font-size: 0.8rem;
  }
}
