* {
  --main-bg-color: #ffffff;
  --second-bg-color: #fefefe31;
  --main-color: #0171e2;
  --speed: 400ms;
  --nav-size: 60px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  /* margin: 0; */
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body,
.App {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  /* display: grid; */
  width: 100%;
  background-color: var(--main-bg-color);
  /* place-items: center; */
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 400;
}
.logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.logo_container h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--main-color);
}
.logo_container p {
  font-weight: 400;
  color: var(--main-color);
}
.logo {
  height: 50px;
  width: 50px;
  background-color: var(--main-color);
  border-radius: 20%;
  display: grid;
  place-items: center;
}
.logo_inner {
  height: 40px;
  width: 40px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.logo_inner_inner {
  height: 30px;
  width: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
}
h4 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
