.home {
  padding: 20px;
  width: auto;
  position: relative;
  overflow-y: auto;
  color: var(--font-color);
  background: transparent;
}
.client__card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 8px;
}
.client__card__header > img {
  height: 22px;
  padding: 2px;
  width: 22px;
  object-fit: cover;
  border-radius: 50%;
}

.client__card__avatars__container {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  background-color: var(--card-background);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  align-items: center;
}
.client__card__avatars__container__title > p {
  opacity: 0.5;
  font-style: italic;
  font-size: 0.8rem;
}
.client__card__avatars__container__title > h3 {
  overflow-wrap: break-word;
}
.middle__image {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.middle__image > img {
  object-fit: cover;
  height: 100px;
}
.checkbox__container {
  display: flex;
  gap: 12px;
  margin: 20px 0px;
}
.modal__add {
  padding: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.add__modal__actions {
  display: flex;
  gap: 6px;
  align-self: flex-end;
  margin-top: 12px;
}
.name__input {
  padding: 5px;
  padding-top: 8px;
  border-radius: 4px;
  flex-grow: 1 !important;
  font-size: 1.4rem;
  padding: 12px 12px 20px 12px;
  background-color: var(--color-background-2);
  border: none;
  color: var(--font-color);
  margin-bottom: 10px;
  margin: 0;
  border: solid 1px var(--border-color);
}
.home__clients__container__title {
  color: var(--font-color);
}
