.modif__textarea {
  padding: 5px;
  padding-top: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-grow: 1;
  min-height: 70px;
  font-size: 1rem;
  background-color: var(--card-background);
  border: none;
  color: var(--font-color);
  margin-bottom: 10px;
  margin: 0;
  box-shadow: 0 2px 4px var(--shadow-color);
}
.edit__block__container {
  flex-grow: 1;
  height: auto;
  padding: 2px;
  min-width: 300px;
}
.edit__button {
  height: 32px;
  margin-left: 4px;
  width: 32px;
  border: none;
  cursor: pointer;
  color: var(--font-color);
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit__button:hover {
  background-color: var(--color-background-1);
}
.edit__block__actions__container {
  border: none;
  width: 100%;
  box-shadow: 0 2px 4px var(--shadow-color);
  background-color: var(--card-background);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 1px var(--color-background-1);
}
.modif__textarea__edit__button {
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--font-color);
  opacity: 0;
  cursor: pointer;
}

.modif__textarea__paragraph ul,
.modif__textarea__paragraph ol {
  margin-left: 20px;
}
.modif__textarea__paragraph h1,
.modif__textarea__paragraph h2,
.modif__textarea__paragraph h3 {
  margin-top: 20px;
  margin-bottom: 6px;
}
.modif__textarea__paragraph:hover {
  border-color: rgba(128, 128, 128, 0.13);
}
.edit__button > h1 {
  font-size: 1.3rem;
}
.edit__button > h2 {
  font-size: 1.1rem;
}
.edit__button > h3 {
  font-size: 0.9rem;
}
