.event__row {
  cursor: pointer;
  padding: 10px;
  position: relative;
}
.event__row:hover {
  background-color: var(--color-background-2);
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}
.current__period__row {
  color: var(--main-color);
  background-color: rgba(0, 204, 255, 0.15);
  text-align: center;
}
.previous__period__row {
  color: var(--main-color2);
  height: 100% !important;
  background-color: rgba(255, 0, 0, 0.15);
  text-align: center;
}
.kanban__section__content__name__container {
  margin: 0px;
}
