.account__page__container {
  padding: 20px;
}
.banner {
  padding: 20px;
  margin: auto;
  border-radius: 8px;
  margin-top: 20px;
  background-color: var(--col-background);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: var(--main-color);
}
@media screen and (max-width: 1000px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
}
