@import "../constants.scss";

.tooltip {
  width: auto;
  position: absolute;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  transform: translate(60%, -100%);
  background-color: var(--color-background-2);
  z-index: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close {
  animation: hideDiv 0.1s linear forwards;
  /* display: none; */
}
.open {
  animation: showDiv 0.1s linear forwards;
}
@keyframes hideDiv {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showDiv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
