@import "../constants.scss";

.button__versed {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  border: solid 1px var(--main-color);
  outline: none;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1rem;
  text-decoration: none !important;
  padding: 6px 16px;
  border: none;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  line-height: 1.6;
  font-family: Inter, sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: filter 0.3s, background 0.3s, color 0.3s;
  filter: brightness(1);
  white-space: nowrap;
  z-index: 0;
}

.button__reversed {
  background-color: transparent;
  color: var(--main-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none !important;
  padding: 6px 16px;
  border: none;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  line-height: 1.6;
  font-family: Inter, sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: filter 0.3s, background 0.3s, color 0.3s;
  filter: brightness(1);
  white-space: nowrap;
  z-index: 0;
}
.button__versed:hover,
.button__reversed:hover {
  filter: brightness(1.2);
}
