@import "../../materials/constants.css";

.stickynavbar__container {
  z-index: 1;
  position: sticky;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--main-bg-color);
  display: flex;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.04);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
