/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.toggle-theme {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 48px;
}
.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 21px;
  left: 2px;
  position: absolute;
  transition: 0.2s;
  width: 21px;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

input:checked + .slider {
  background-color: var(--main-color);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  content: "";
}
