.dnd__wide__container {
  height: auto;
  background-color: var(--color-background-1);
  width: auto;
  padding-bottom: 70px;
}
.settings__button {
  width: 40px;
  height: 40px;
  font-weight: bold;
  background-color: transparent;
  color: var(--font-color);
  border-radius: 25px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.logo__kifekoi {
  height: 55px;
  width: auto;
  cursor: pointer;
}
